body{
    margin: 0px;
}

ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(207, 203, 203);
    border-bottom: 1px solid gray;


}

.logo{
    height: 70px;
}
button{
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: bolder;
}
button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.mainButton{
    background-color: green;
    color: white;
}

.mainButton:hover{
    box-shadow: 1px 1px rgb(3, 29, 3);
}
.secondaryButton{
    background-color:blue;
    color: white;
}
.secondaryButton:hover{
    box-shadow: 1px 1px rgb(92, 92, 255);
}
.buscar{
    background-color:white;
    border: solid 1px gray;
    padding: 4px;
    border-radius: 8px;
    width: 300px;
    display: flex;
    justify-content: flex-end;
}
.buscar:focus-within{
    border: 1px solid blue;
}
.buscar > input{
    outline: none;
    border: none;
}
.iconoBusqueda:hover{
    color: blue;

}